paper-header-panel {
  background: #fafafa;
}

cart-icon {
  margin-left: 8px;
}

.search.active {
  left: 15px;
}

@media (max-width: 639px) {
  paper-toolbar /deep/ #topBar {
    margin-top: 4px;
    padding: 0 16px;
  }
}

#guides-container h3 {
  margin: 36px 8px 8px;
}

#coming-soon {
  cursor: normal;
  line-height: 76px;
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, var(--dark-primary-opacity));
  border: 1px dashed #e5e5e5;
}


/* Base classes for all media */

.Grid {
  width: 332px;
  margin: 16px auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.Grid-cell {
  margin: 8px;
  width: 150px;
  height: 150px;
  display: block;
}

/* Medium screens */

@media (min-width: 694px) {
  .Grid {
    width: 688px;
  }
  .Grid-cell {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 912px) {
  .Grid {
    width: 912px;
  }
  .Grid-cellxxx {
    width: 212px;
    height: 212px;
  }

  .Grid-cell.guide-card{
      width: 440px;
      height: auto;

    }
  .Grid-cell.large {
    width: 440px;
    height: 440px;
  }
}
::host *, *::after, *::before {
  box-sizing: border-box;
}
